@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400&family=Open+Sans&family=Varela&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
    font-family: "titillium web";
  text-align: center;  

}
.jumbo{
    background-image:url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
}
html{
    height: 100%;
    scroll-behavior: smooth;
}

.home{
    color: white;
    padding-top: 70px;
    margin: 250px auto;
    text-align: center;
    font-family: "Open Sans";
    
}

.home h1{
    font-family: "Varela";
    font-weight: 800;
    font-size: 64px;
}
.home{
    font-family: "titillium web";

}
hr{
    background-color: white;
}
/* .map{
    width: 450px;
    margin: 40px auto;
    
} */
.landing-page{
    height: 700px;
}
.map path{
fill: seashell;
stroke: skyblue;
}

.map path:hover{
    fill: rgb(0, 255, 255);
    stroke: darkblue;
    stroke-width: 4px;
}


.row1{
    margin: 2rem auto;
}

svg{
    display: block;
    margin: auto auto;
    width: 420px;
}

 .map-stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    position: relative;
}

.card1{
    display: flex;
    margin: 0.25rem ;
    padding: 10px;   
    /* justify-content: space-around; */
    flex-direction: row;
}
.stats1{
    margin: 0.25rem;
    padding: 3px;
    background-color: cyan;
    flex-direction: column;
    width: 100%;
    display: inline-flex;
    border-radius: 2px;
    
}
.col-md-6{

    padding: 20px;
}

.sympbox{
    padding-top: 80px;
    margin-top: 80px;
    align-items: center;
    text-align: center;
/* padding: 10px; */
font-family: "titillium Web";
}

.sympbox .card{
    align-items: center;
    text-align: center;
    border: 0px;
    margin-top: 60px;
}

footer{
    padding-top: 80px;

    background-color: rgb(63, 81, 181);
    width: 100%;
    color: white;
    font-family: "valera";
}
footer a{
    color: white;
}

table{
    font-family: "valera";
}
.cortables{
    padding-top: 80px;

    margin-top: 60px;
}

.cormap{
    padding-top: 80px;

    margin-top: 60px;
    
}

.corgraph{
    padding-top: 80px;

    margin-top: 80px;
}
.navbar .nav-item{
    padding: 7px;
}
/* .navbar .nav-link:hover{
    color: rgb(13, 228, 217)
    
}
.navbar .nav-link{
    width: 100%;
} */

.navbar{
    padding: 0;
}

.c1col{
    background-color:pink;
}
.c2col{
    background-color:skyblue;
}
.c3col{
    background-color: turquoise;
}
.c4col{
    background-color: firebrick;
}
.navbar .navbar-brand{
    margin:16px;
}

.navbar .navbar-toggler{
    margin:16px;
    
}
#get-started{
    border:2px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 40px;
   
}
#get-started:hover{
    background-color: white;
    color: black;
    
}